* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container{
    max-width: 1440px;
    margin: 0 auto;
}

.hg1{
    color: white;
    padding-left: 100px;
    padding-top: 100px;
    font-size: 100px;
}
header{
    background-color: rgb(119, 16, 16);
}
main{
    background-color: rgb(119, 16, 16);
}
.ll{
    padding-left: 100px;
}
footer{
    background-color: rgb(119, 16, 16);
    display: flex;
    justify-content: space-between;
}
.mm{
    padding-left: 150px;
}
.wpn{
    display: flex;
    gap: 10px;
    padding-top: 30px;
}
h2{
    color: white;
    font-size: 30px;
}
.bb{
    padding-top: 20px;
}
.ndd{
    padding-left: 100px;
    font-size: 50px;
    color: white;
}
.bn{
    color: white;
    padding-left: 100px;
    font-size: 100px;
}
.wpn2{
    padding-right: 150px;
}